// Place all the styles related to the reports controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#flagged {
	border: 3px solid steelblue;
	display: inline-block;
	padding: 3em;
	padding-top: 0;
	padding-bottom: 1em;	
}

#flag {
	color: #8f2a18	
}

.action {
	color: #8f2a18	
}

table {
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid black;
}

th, td {
	padding: 2px 5px;
}

.blue {
	color: blue
}